# Video Game Sales

# Author: Ahmad Omar Shalein
# Date: August 9th, 2021

In [4]:
import pandas as pd

# Which company is the most common video game publisher?

In [5]:
df=pd.read_csv('./vgsales.csv',error_bad_lines=False)
most_common_vg = df["Publisher"].value_counts().idxmax()
most_common_vg

'Electronic Arts'

# What’s the most common platform?

In [6]:
most_common_platform = df["Platform"].value_counts().idxmax()
most_common_platform

'DS'

# What about the most common genre?

In [7]:
most_common_genre = df["Genre"].value_counts().idxmax()
most_common_genre

'Action'

# What are the top 20 highest grossing games?

In [8]:
df_highest = df.copy()
highest_grossing_games = df_highest.sort_values('Rank').head(20)[['Name']]
highest_grossing_games

                                            Name
0                                     Wii Sports
1                              Super Mario Bros.
2                                 Mario Kart Wii
3                              Wii Sports Resort
4                       Pokemon Red/Pokemon Blue
5                                         Tetris
6                          New Super Mario Bros.
7                                       Wii Play
8                      New Super Mario Bros. Wii
9                                      Duck Hunt
10                                    Nintendogs
11                                 Mario Kart DS
12                   Pokemon Gold/Pokemon Silver
13                                       Wii Fit
14                                  Wii Fit Plus
15                            Kinect Adventures!
16                            Grand Theft Auto V
17                 Grand Theft Auto: San Andreas
18                             Super Mario World
19  Brain Age: Train Your Brain in Minutes a Day

# For North American video game sales, what’s the median?
    * Provide a secondary output showing ten games surrounding the median sales output
    * assume that games with same median value are sorted in descending order

In [9]:
North_American_median = df['NA_Sales'].median()
North_American_median

0.08

In [10]:
same_median = df[df['NA_Sales'] == North_American_median]
middle_point = len(same_median)//2
outcome = same_median[middle_point-5:middle_point+5]
outcome

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
9931,9933,Spider-Man: Edge of Time,3DS,2011.0,Action,Activision,0.08,0.03,0.00,0.01,0.12
9934,9936,Turok: Evolution,GBA,2002.0,Shooter,Acclaim Entertainment,0.08,0.03,0.00,0.00,0.12
9957,9959,Deadpool,XOne,2015.0,Action,Activision,0.08,0.03,0.00,0.01,0.12
9996,9998,GT Advance 2: Rally Racing,GBA,2001.0,Racing,THQ,0.08,0.03,0.00,0.00,0.11
10000,10002,A Witch's Tale,DS,2009.0,Role-Playing,Nippon Ichi Software,0.08,0.00,0.03,0.01,0.11
10012,10014,Nickelodeon Dance,X360,2011.0,Misc,Take-Two Interactive,0.08,0.02,0.00,0.01,0.11
10020,10022,Phantasy Star Collection,GBA,2002.0,Role-Playing,Atari,0.08,0.03,0.00,0.00,0.11
10022,10024,LEGO Knights' Kingdom,GBA,2004.0,Action,THQ,0.08,0.03,0.00,0.00,0.11
10024,10026,Family Game Night 4: The Game Show,PS3,2011.0,Misc,Electronic Arts,0.08,0.02,0.00,0.01,0.11
10026,10028,NBA Jam 2002,GBA,2002.0,Sports,Acclaim Entertainment,0.08,0.03,0.00,0.00,0.11

# For the top-selling game of all time, how many standard deviations above/below the mean are its sales for North America?

In [11]:
top_selling = df.copy()
top_game = top_selling.head(1)
a = top_game["NA_Sales"]
b = top_selling["NA_Sales"].mean()
std_1 = top_selling['NA_Sales'].std()
c = (a-b)/std_1
c

0    50.478988
Name: NA_Sales, dtype: float64

# The Nintendo Wii seems to have outdone itself with games. How does its average number of sales compare with all of the other platforms?

In [12]:
df_copy = df.copy()
pub_one = df_copy[(df_copy["Platform"]=='Wii')]
pub_two = df_copy[(df_copy["Platform"]!='Wii')]
outcome = (pub_two["Global_Sales"].mean(),pub_one["Global_Sales"].mean())
outcome

(0.5233896418516336, 0.6994037735849057)

# User Acceptance Tests

In [14]:
def test():

    def assert_equal(actual,expected):
        assert actual == expected, f"Expected {expected} but got {actual}"

    assert_equal(most_common_vg, 'Electronic Arts')
    assert_equal(most_common_platform, 'DS')
    assert_equal(most_common_genre, 'Action')
    assert_equal(highest_grossing_games.iloc[19].Name, 'Brain Age: Train Your Brain in Minutes a Day')
    assert_equal(highest_grossing_games.iloc[0].Name, 'Wii Sports')
    assert_equal(outcome, (0.5233896418516336, 0.6994037735849057))

    print("Success!!!")

test()

Success!!!